img{
  width:200px;
  margin: auto;
  margin-bottom: 20px;
}

a{
  font-size: 20px;
  margin-bottom: 20px;
  color:'black'
}

body{
  font-family: "Arial", "arial", "cursive";
}

h1{
  font-family: "Arial", "arial", "cursive";
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

label{
  margin-top:20px;
}

.suite{
  display: none;
}

.fin{
  display: none;
}
