.nav {
  background-color: #333;
  overflow: hidden;
}

.row {
  color: #f2f2f2;
  padding: 10px 10px;
  margin-top: 5px;
  margin-left: 1px;
  text-decoration: none;
  font-size: 17px;
}

h1 {
  padding: 30px;
  text-align: center;
  font-size: 30px;
}

canvas{
  width : 100%;
  height: 100%;
  border: solid black 10px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}
